html,
body,
#root,
.site-container {
  height: 100%;
}
.site-container {
  display: flex;
  flex-direction: column;
}

.main {
  height: 100%;
  flex: 1 1 auto;
  background: #252525;
  background-color: #01060e;
}
